html {
  box-sizing: border-box;
  background-image: url("../img/money.png");
  resize: both;
  overflow: auto;
  background-size: auto;
}

*,
::before,
::after {
  box-sizing: inherit;
}


.strong {
  color: rgb(221, 103, 103);
  font-size: medium;
}
