html {
    box-sizing: border-box;
    background-color: rgb(26, 31, 31);
}

*, ::before, ::after {
    box-sizing: inherit;
}


.header {
    text-align: center;
    color: rgb(215, 215, 235);
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px #eeecec;
    background-color: rgb(7, 40, 83);
    margin: 20px auto;

}
.sum {
    text-align: center;
    color: rgb(255, 255, 255);
    max-width: 600px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #ccc;
    background-color: rgb(59, 48, 163);
    margin: 20px auto;

}
.strong {
    color: rgb(221, 103, 103);
    font-size: medium;
}